.flex-container {
    display: flex;
    justify-content: center;
  }
  .vertical {
    vertical-align: baseline;
  }
  .border-materia {
    border-style: solid;
    width: 50%;
    margin: auto;
  }